/*CSS for header and nav bar*/
header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  /* CSS for navigation bar links*/
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /*Hover action to highlight word on nav bar*/
  nav ul li a:hover {
    background-color: #ff0000;
    color: #fff;
  }